.more-route {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.more-route-content {
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: var(--max-column-width);
  width: 100%;
  margin-top: var(--spacing-6);
}
