@font-face {
	font-family: 'Merriweather Sans';
	font-style: normal;
	font-weight: 300;
	src: url("https://fonts.googleapis.com/css?family=Merriweather+Sans:300");
	/* src: url("../fonts/merriweather-sans/MerriweatherSans-Light.otf") format("opentype"); */
}

@font-face {
	font-family: 'Allerta';
	font-style: normal;
	font-weight: 300;
	src: url("../fonts/allerta/allerta.medium.ttf");
}

* {
	--az-background-color: ghostwhite;

	--az-border-width: 1px;
	--az-border-color: dimgrey;

	--az-link-color: brown;
	--az-link-selected: black;

	--az-div-margin: 16px;

	--az-bar-height: 64px;
	--az-body-width-max: 1024px;
	
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1, h2, h3, h4 {
	font-family: "Allerta";
}

h3, h4 {
	text-transform: uppercase;
}

h3 {
	margin-bottom: 0.5em;
}

a, a:visited {
	color: var(--az-link-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a.az-selected {
	color: var(--az-link-selected);
}

a.az-selected:hover {
	text-decoration: none;
	cursor: default;
}

.az-divisor-horizontal {
	height: 1px;
	margin: var(--az-div-margin) 0;
	background-color: var(--az-border-color);
}

.az-divisor-vertical {
	width: 1px;
	margin: 0 var(--az-div-margin);
	background-color: var(--az-border-color);
}

.az-hidden {
	display: none;
}

body {
	top: 0;
	left: 0;
	margin: 0;
	background-color: var(--az-background-color);
	font-family: "Merriweather Sans";
}

#az-main {
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-flow: column;
	align-items: center;
}
	
#az-header {
	width: 80%;
	max-width: var(--az-body-width-max);
	height: var(--az-bar-height);
	border-bottom: var(--az-border-width) solid var(--az-border-color);
	display: inline-flex;
	justify-content: space-between;
}

#az-languages {
	display: flex;
}

.az-language {
	margin-left: var(--az-div-margin);
	display: flex;
	align-items: center;
}

#az-body {
	flex: 1;
	width: 80%;
	max-width: var(--az-body-width-max);
	padding: var(--az-div-margin);
	display: flex;
	flex-flow: row;
}

#az-info {
	width: 30%;
}

#az-info>p {
	font-size: 0.9em;
}

#az-info>p>*  {
	vertical-align: middle;
}

#az-photo {
	width: 80%;
	max-width: 200px;
	border: var(--az-border-width) solid var(--az-border-color);
	margin: 0 auto 0 0;
	background-color: gainsboro;
}

#az-photo > img {
	border-radius: 100%;
}

#az-content {
	flex: 1;
}

#az-menus {
	width: 100%;
	display: inline-flex;
	flex-wrap: nowrap;
	vertical-align: middle;
	font-family: "Allerta";
}

.az-menu {
	flex: 1;
	height: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.az-menu:hover {

}

.az-menu>h4 {
	width: 100%;
	text-align: center;
}

.az-page {
	display: none;
}

.az-page.az-selected {
	display: block;
}

.az-article {
	padding: var(--az-div-margin);
}

.az-article>p {
	text-align: justify;
}

#az-footer {
	align-self: flex-bottom;
	width: 80%;
	max-width: var(--az-body-width-max);
	height: var(--az-bar-height);
	border-top: var(--az-border-width) solid var(--az-border-color);
	display: flex;
	justify-content: flex-end;
}

#az-credits {
	display: flex;
	align-items: center;
	font-size: small;
}

@media (max-width: 1135px) {

	#az-body {
		flex-direction: column;
	}

	#az-info {
		width: 100%;
		display: inline-flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: center;
	}

	#az-photo {
		margin: 0;
	}

	#az-body-divisor-v {
		display: none;
	}

	#az-body-divisor-h {
		display: block !important;
	}

	#az-content {
		width: 100%;
	}
	
}

@media (max-width: 730px) {

	#az-info {
		display: block;
		justify-content: center;
		text-align: center;
	}
	
	#az-photo {
		display: none;
	}
	
}
