.router {
  background-color: var(--color-neutral-1);
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.route-compact {
  width: 100%;
  max-width: 512px;
  margin-top: 30vh;
}
